body {
  padding: 0;
  margin: 0;
  background: #eee;
  font-family: "Arial"; }

.headline {
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  margin: 0; }
  .headline:first-child {
    padding-top: 20px; }

.c-accordion {
  margin: 10px;
  line-height: 22px;
  font-size: 0;
  font-family: "Arial";
  overflow: hidden;
  background: #FFF; }
  @media screen and (min-width: 768px) {
    .c-accordion {
      padding: 20px; } }
  .c-accordion * {
    padding: 0;
    margin: 0; }
  .c-accordion_item {
    font-size: 14px;
    display: block;
    clear: both;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .c-accordion_item {
        display: inline;
        clear: none;
        overflow: visible; } }
    @media screen and (min-width: 0\0) {
      .c-accordion_item.checked label {
        background: none;
        cursor: default; }
      .c-accordion_item.checked .c-accordion_content {
        display: inline;
        padding-right: 4px; }
      .c-accordion_item.checked .c-accordion_content .c-accordion_contentRaw {
        float: left;
        padding: 0 20px 20px 20px; } }
  @media screen and (min-width: 0\0) and (min-width: 768px) {
    .c-accordion_item.checked .c-accordion_content .c-accordion_contentRaw {
      padding-top: 20px; } }

    .c-accordion_item input {
      clip: rect(0 0 0 0);
      height: 1px;
      opacity: 0;
      position: fixed;
      width: 1px;
      z-index: -1; }
      .c-accordion_item input:checked ~ label {
        background: none;
        cursor: default; }
      .c-accordion_item input:checked ~ .c-accordion_content {
        display: inline;
        padding-right: 4px; }
      .c-accordion_item input:checked ~ .c-accordion_content .c-accordion_contentRaw {
        float: left;
        padding: 0 20px 20px 20px; }
        @media screen and (min-width: 768px) {
          .c-accordion_item input:checked ~ .c-accordion_content .c-accordion_contentRaw {
            padding-top: 20px; } }
    .c-accordion_item label {
      background: #DDD;
      padding: 10px 20px;
      display: block;
      margin-bottom: 1px;
      position: relative;
      cursor: pointer; }
      @media screen and (min-width: 0\0) {
        .c-accordion_item label {
          margin-left: -5px;
          left: 6px; } }
      @media screen and (min-width: 768px) {
        .c-accordion_item label {
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px;
          margin-left: -6px;
          left: 6px; } }
      @media screen and (min-width: 960px) {
        .c-accordion_item label {
          padding-left: 20px;
          padding-right: 20px; } }
      .c-accordion_item label:hover {
        background: #CCC; }
  .c-accordion_content {
    height: 0;
    overflow: hidden;
    position: relative;
    width: 0; }
    @media screen and (min-width: 768px) {
      .c-accordion_content {
        display: inline-block; } }
  .c-accordion_contentRaw {
    display: block;
    width: 100%;
    box-sizing: border-box; }
    .c-accordion_contentRaw h2 {
      padding: 5px 0 20px; }
